#delete-btn {
    min-width:unset;
    margin-right: 16px;
}

.grid-striped .parent-row:nth-of-type(even) {
    background-color: rgba(0,0,0,.05);
}

.header {
    font-weight: bold;
}

.row-with-padding {
    padding: 8px;
}

#benefit-overview {
    font-style: italic; 
}